services:
  # --- 1. Servicio Keycloak (Autenticación) ---
  keycloak:
    image: quay.io/keycloak/keycloak:24.0.3
    container_name: keycloak
    command: start-dev
    ports:
    - "8081:8080"
    environment:
    - KEYCLOAK_ADMIN=admin
    - KEYCLOAK_ADMIN_PASSWORD=admin123
    volumes:
    - keycloak_data:/opt/keycloak/data
    networks:
      - backend


  # --- 2. Base de Datos de Solicitudes ---
  db-solicitudes:
    image: postgres:latest
    container_name: db-solicitudes
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: DB_SOLICITUDES
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
    volumes:
      - data-solicitudes:/var/lib/postgresql
      - ./db-scripts/solicitudes:/docker-entrypoint-initdb.d #
    networks:
      - backend

  # --- 3. Base de Datos de Rutas ---
  db-rutas:
    image: postgres:latest
    container_name: db-rutas
    ports:
      - "5433:5432"
    environment:
      POSTGRES_DB: DB_RUTAS
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
    volumes:
      - data-rutas:/var/lib/postgresql
      - ./db-scripts/rutas:/docker-entrypoint-initdb.d #
    networks:
      - backend

  # --- 4. Base de Datos de Usuarios ---
  db-users:
    image: postgres:latest
    container_name: db-users
    ports:
      - "5434:5432"
    environment:
      POSTGRES_DB: DB_USERS
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
    volumes:
      - data-users:/var/lib/postgresql
      - ./db-scripts/usuarios:/docker-entrypoint-initdb.d #
    networks:
      - backend

  # --- 5. Microservicio App Rutas ---
  rutas-app:
    build: ./rutas
    container_name: rutas-app
    ports:
      - "8181:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db-rutas:5432/DB_RUTAS
      SPRING_DATASOURCE_USERNAME: admin
      SPRING_DATASOURCE_PASSWORD: admin123
      # --- CONFIGURACIÓN DE SEGURIDAD CORREGIDA ---
      # 1. ISSUER (Público): Para validar el 'iss' del token
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: http://localhost:8081/realms/tpi-backend
      # 2. JWK-SET (Interno): Para que el contenedor pueda descargar las llaves
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI: http://keycloak:8080/realms/tpi-backend/protocol/openid-connect/certs
      # ------------------------------------------------
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8080/actuator/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 40s
    networks:
      - backend
    depends_on:
      - db-rutas
      - keycloak

  # --- 6. Microservicio Users ---
  users-app:
    build: ./users
    container_name: users-app
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db-users:5432/DB_USERS
      SPRING_DATASOURCE_USERNAME: admin
      SPRING_DATASOURCE_PASSWORD: admin123
      SPRING_DATASOURCE_DRIVER-CLASS-NAME: org.postgresql.Driver
      # --- CONFIGURACIÓN DE SEGURIDAD CORREGIDA ---
      # 1. ISSUER (Público): Para validar el 'iss' del token
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: http://localhost:8081/realms/tpi-backend
      # 2. JWK-SET (Interno): Para que el contenedor pueda descargar las llaves
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI: http://keycloak:8080/realms/tpi-backend/protocol/openid-connect/certs
      # ------------------------------------------------
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8080/actuator/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 40s
    networks:
      - backend
    depends_on:
      - db-users
      - keycloak
      - int-keycloak
    restart: on-failure
    


  # --- 7. Microservicio int-geoapi ---
  int-geoapi:
    build: ./geoapi
    container_name: int-geoapi-app
    ports:
      - "9090:8080"
    networks:
      - backend

  # --- 8. Microservicio integracion keycloak ---
  int-keycloak:
    build: ./keycloak
    container_name: int-keycloak-app
    ports:
      - "9091:8080"
    environment:
      # --- CONFIGURACIÓN DE SEGURIDAD CORREGIDA ---
      # 1. ISSUER (Público): Para validar el 'iss' del token
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: http://localhost:8081/realms/tpi-backend
      # 2. JWK-SET (Interno): Para que el contenedor pueda descargar las llaves
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI: http://keycloak:8080/realms/tpi-backend/protocol/openid-connect/certs
      # ------------------------------------------------
    networks:
      - backend
    depends_on:
      - keycloak
    restart: on-failure

  # --- 9. api-gateway ---
  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "9191:8080"
    environment:
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: http://localhost:8081/realms/tpi-backend
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI: http://keycloak:8080/realms/tpi-backend/protocol/openid-connect/certs
    networks:
      - backend
    depends_on:
      - keycloak
      - solicitudes-app
      - rutas-app
      - users-app
  # --- 10. Microservicio Solicitudes ---
  solicitudes-app:
    build: ./solicitudes
    container_name: solicitudes-app
    ports:
      - "8180:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db-solicitudes:5432/DB_SOLICITUDES
      SPRING_DATASOURCE_USERNAME: admin
      SPRING_DATASOURCE_PASSWORD: admin123
      # --- CONFIGURACIÓN DE SEGURIDAD CORREGIDA ---
      # 1. ISSUER (Público): Para validar el 'iss' del token
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI: http://localhost:8081/realms/tpi-backend
      # 2. JWK-SET (Interno): Para que el contenedor pueda descargar las llaves
      SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_JWK_SET_URI: http://keycloak:8080/realms/tpi-backend/protocol/openid-connect/certs
      # ------------------------------------------------
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8080/actuator/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 40s
    networks:
      - backend
    depends_on:
      - keycloak
      - db-solicitudes

# --- Volúmenes (Discos duros) ---
volumes:
  keycloak_data:
  data-solicitudes:
  data-rutas:
  data-users:

# --- Red interna ---
networks:
  backend:
    driver: bridge